---
food: Pizza
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
    <style>
        td {
            vertical-align : middle !important;
        }
    </style>
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Navbar 시작
        <!-- ============================================================== -->
        {% include navbar.html %}
        <!-- ============================================================== -->
        <!-- Navbar 끝
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- 사이드바 시작
        <!-- ============================================================== -->
        {% include sidebar.html %}
        <!-- ============================================================== -->
        <!-- 사이드바 끝
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h2 class="page-title">쿠키 뽑기 시뮬레이터</h2> </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- ============================================================== -->
                <!-- Demo table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <button onclick="bbob();">10회 뽑기</button>
                                <span id="crystal">0</span><span>크리스탈 소모</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-box">
                                <div class="row show-grid" id="divBbob">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="white-box">
                                <div class="row show-grid" id="main">
                                    {% for cookie in site.data.cookiesForBbob %}
                                    <div class="col-sm-2 col-xs-4" style="background-color: #{{cookie.color}}; height: 200px;">
                                        <div>
                                            <div class="el-card-item text-center" >
                                                <div class="el-card-avatar el-overlay-1"> <img src="plugins/images/cookies2/{{cookie.img}}.png" class="img-responsive" alt="{{cookie.name}}">
                                                </div>
                                                <div class="el-card-content">
                                                    <p>{{cookie.nameForHtml}}</p>
                                                    <p class="clsStar"></p>
                                                    <div class="progress progress-lg text-center">
                                                        <div class="progress-bar progress-bar-success clsPgbar" style="width: 0%;" role="progressbar" id="{{cookie.nameForHtml}}">0</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                                    {% for cookie in site.data.cookiesForBbob %}
                                    <div class="col-sm-2 col-xs-4 invisible" style="background-color: #{{cookie.color}}; height: 200px;" id="div{{cookie.nameForHtml}}">
                                        <div>
                                            <div class="el-card-item text-center" >
                                                <div class="el-card-avatar el-overlay-1"> <img src="plugins/images/cookies2/{{cookie.img}}.png" class="img-responsive" alt="{{cookie.name}}">
                                                </div>
                                                <div class="el-card-content">
                                                    <p>{{cookie.nameForHtml}}</p>
                                                    <input type="number" id="ipt{{cookie.nameForHtml}}" value="0" class="form-control text-center" disabled/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                            </div>
                        </div>
                    </div>



                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li><b>With Dark sidebar</b></li>
                                <br/>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                            </ul>
                            <ul class="m-t-20 all-demos">
                                <li><b>Choose other demos</b></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2021 madeBy DESH </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- jQuery peity -->
    <script src="plugins/bower_components/peity/jquery.peity.min.js"></script>
    <script src="plugins/bower_components/peity/jquery.peity.init.js"></script>
    <!--Style Switcher -->
    <script src="plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
        <script src="plugins/bower_components/Magnific-Popup-master/dist/jquery.magnific-popup.min.js"></script>
        <script>
        var cookiePerList = [];
        var cookieList =[];
        var plag="N";


       $(document).ready(function() {
           {% for cookie in site.data.cookiesPercentage %}
              cookiePerList[{{cookie.nameForJs}}] = {{cookie.per1}};
           {% endfor %}
           {% for cookie in site.data.cookiesForBbob %}
              cookieList[{{cookie.nameForJs}}] = "x";
           {% endfor %}
        });


        function bbob(){
            $("#crystal").text(Number($("#crystal").text())+3000);
            //뽑기 초기화
            var docDivBbob = document.getElementById("divBbob");
            while ( docDivBbob.hasChildNodes() ) {
                docDivBbob.removeChild( docDivBbob.firstChild );
             }

                        //뽑기 시작
            for(x = 0 ; x < 10 ; x++){
                        var pickItem = getRandWeight();
                        if(pickItem.includes( '영혼석' )){
                            var pickCookie = pickItem.substring(0,pickItem.length-4);
                            var plus = Math.floor(Math.random() * 3 + 1);
                            var docCookieCount = document.getElementById(pickCookie);
                            var docCookie = document.getElementById("div"+pickCookie).cloneNode(true);
                        }else{
                            var docCookieCount = document.getElementById(pickItem);
                            var docCookie = document.getElementById("div"+pickItem).cloneNode(true);
                            var plus=20;
                        }
                        //뽑기 내역 element 그리기
                        docCookie.classList.remove("invisible");
                        docCookie.childNodes[1].childNodes[1].childNodes[3].childNodes[3].value=plus;
                        //전체에 보유 영혼석 추가
                        docCookieCount.innerHTML = Number(docCookieCount.innerHTML)+plus;
                        docDivBbob.appendChild(docCookie);
            }
            calStar();
        }


        function getRandRange(min,max){
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function calStar(){
            $( ".clsPgbar" ).each(function( index ) {
                var starCheck = $( this ).text();
                var per = ((starCheck/270)*100);
                if(per>100){
                    per=100;
                }
               $(this).width( per + "%") ;

               if(starCheck<20){
               }else if(starCheck>=20 && starCheck<50){
                    $(this).parent().prev().text("1성");
               }else if(starCheck>=50 && starCheck<100){
                    $(this).parent().prev().text("2성");
               }else if(starCheck>=100 && starCheck<170){
                    $(this).parent().prev().text("3성");
               }else if(starCheck>=170 && starCheck<270){
                    $(this).parent().prev().text("4성");
               }else{
                    $(this).parent().prev().text("5성");
               }
            });
        }

        function getRandWeight(){
            var pickVal = Number.MAX_VALUE;
             var pickItem = null;
              for(var item in cookiePerList){
                var tmpVal = -Math.log(Math.random()) / cookiePerList[item];
                 if(tmpVal < pickVal){
                  pickVal = tmpVal;
                   pickItem = item;
                        }
                     }
              return pickItem;
              }
        </script>
        <script src="plugins/bower_components/sweetalert/sweetalert.min.js"></script>
        <script src="plugins/bower_components/datatables/datatables.min.js"></script>
</body>

</html>
