---
food: Pizza
---
<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Navbar 시작
        <!-- ============================================================== -->
        {% include navbar.html %}
        <!-- ============================================================== -->
        <!-- Navbar 끝
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- 사이드바 시작
        <!-- ============================================================== -->
        {% include sidebar.html %}
        <!-- ============================================================== -->
        <!-- 사이드바 끝
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h2 class="page-title">쿠키런 킹덤 쿠폰 정보</h2> </div>
                    {% include head.html %}
                    <!-- /.col-lg-12 -->
                </div>
                <!-- ============================================================== -->
                <!-- Demo table -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel">
                            <div class="panel-heading">Last Update 2021.07.10</div>
                        </div>
                        <div class="panel panel-info block4">
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body text-center">
                                    <p>GETUR1SUGARGNOME</p>
                                    <p>아마도 재배노움</p>
                                </div>
                                <div class="panel-footer text-center">
                                    <button class="btn btn-info" onclick="copy(this);">쿠폰 복사</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info block4">
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body text-center">
                                    <p>GETUR3SUGARGNOME</p>
                                    <p>아마도 재배노움</p>
                                </div>
                                <div class="panel-footer text-center">
                                    <button class="btn btn-info" onclick="copy(this);">쿠폰 복사</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info block4">
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body text-center">
                                    <p>GETUR5SUGARGNOME</p>
                                    <p>아마도 재배노움</p>
                                </div>
                                <div class="panel-footer text-center">
                                    <button class="btn btn-info" onclick="copy(this);">쿠폰 복사</button>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-info block4">
                            <div class="panel-wrapper collapse in" aria-expanded="true">
                                <div class="panel-body text-center">
                                    <p>GETUR7SUGARGNOME</p>
                                    <p>아마도 재배노움</p>
                                </div>
                                <div class="panel-footer text-center">
                                    <button class="btn btn-info" onclick="copy(this);">쿠폰 복사</button>
                                </div>
                            </div>
                        </div>



                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <div class="right-sidebar">
                    <div class="slimscrollright">
                        <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                        <div class="r-panel-body">
                            <ul id="themecolors" class="m-t-20">
                                <li><b>With Light sidebar</b></li>
                                <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                                <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                                <li><b>With Dark sidebar</b></li>
                                <br/>
                                <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                                <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                                <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                                <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                                <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                                <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                            </ul>
                            <ul class="m-t-20 all-demos">
                                <li><b>Choose other demos</b></li>
                            </ul>
                            <ul class="m-t-20 chatonline">
                                <li><b>Chat option</b></li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)"><img src="plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2021 madeBy DESH </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- jQuery peity -->
    <script src="plugins/bower_components/peity/jquery.peity.min.js"></script>
    <script src="plugins/bower_components/peity/jquery.peity.init.js"></script>
    <!--Style Switcher -->
    <script src="plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script src="plugins/bower_components/sweetalert/sweetalert.min.js"></script>
    <script>
        function copy(a){
            var tempElem = document.createElement('textarea');
            var code = a.parentNode.parentNode.childNodes[1].childNodes[1].innerText;
              tempElem.value = code;
              document.body.appendChild(tempElem);

              tempElem.select();
              document.execCommand("copy");
              document.body.removeChild(tempElem);
              swal.fire({
                title:code+"<br>복사되었습니다."
              });
        }

    </script>
</body>

</html>
